@charset "utf-8";


$blue: #3bbfce;
$margin: 16px;
$offwhite: #F9F8F2;

// @Fontface

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-play:before {
  content: "\e000";
}
.icon-comment:before {
  content: "\e001";
}


// Global Styles

body {
  background: $offwhite;
  letter-spacing: 1px;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.31);
}

h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.31);
}

.avatar-big {
  margin-right:20px;
  border-radius: 26px;
}

.avatar-lil {

}

// Header

header {
  margin-top:40px;

  .logo {
    width: 54px;
    height: 23px;
    background: url('../images/logo.png') no-repeat;
  }

  .nav {
    text-transform: uppercase;
    font-weight: 700;
  }
}


// Audio player

.player {
  background:url('../images/bg.jpg') no-repeat center center;
  color: $offwhite;
  margin-top:130px;

  -webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
          box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);

  .player-info {
    padding:80px 0 45px;
  }

  .play-btn {
    background:rgba(0,0,0,0.3);
    width:56px;
    height: 56px;
    border:3px solid $offwhite;
    border-radius: 30px;
    position: relative;
    margin-right: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.31);

    .play-icon {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10.5px 0 10.5px 22px;
      border-color: transparent transparent transparent $offwhite;
      position: absolute;
      top: 18px;
      left: 19px;

    }

  }

  .meta {
    font-weight: 300;
    font-size: 15px;

    .icon {
      margin-right:14px;
      opacity: 0.8;
    }

    .duration {
      background: rgba(0,0,0,0.3);
      border-radius: 2px;
      padding: 5px 8px;
      font-weight: 300;
      opacity: 0.9
    }

  }
}

.wave {
  height: 80px;
  width: 100%;

  .bar {
    width: 2px;
    height:50px;
    margin-right: 1px;
    float: left;
    background:rgba(0,0,0,0.25);
  }

  .played {
    background-image: linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -o-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);

    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(248,49,14)),
      color-stop(1, rgb(248,152,56))
    );
  }

}

.comment-field {
  margin-top: 100px;

  form {
    width:1024px;
    margin-top: 10px;
  }

  input {
    border:none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    background: transparent;
    padding:6px 0;
    width: 100%;
    color: rgba(0,0,0,0.7);
  }



  ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
  }
  input:-moz-placeholder {
    color: rgba(0,0,0,0.5);
  }
  :-ms-input-placeholder {
    color: rgba(0,0,0,0.5);
  }

  :focus::-webkit-input-placeholder {
      opacity: 0.5;

  }

  :focus:-moz-placeholder {
    opacity: 0.5;

  }

  :focus:-ms-input-placeholder {
    opacity: 0.5;

  }

}

:focus {
  outline-color: transparent;
  outline-style: none;
}


