@charset "utf-8";


// Global Styles

body {
  background: #F9F8F2;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}


// Header

header {
  margin-top:40px;

  .logo {
    width: 54px;
    height: 23px;
    background: url('/images/logo.png') no-repeat;
  }

  .nav {
    text-transform: uppercase;
    font-weight: 700;
  }
}


// Audio player

.player {
  height: 250px;
  background:url('/images/bg.jpg') no-repeat top center;
  color: #F9F8F2;

  -webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
          box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
}

.wave {
  height: 100px;
  width: 100%;
  display: table;

  .bar {
    width: 2px;
    height:50px;
    margin-right: 1px;
    float: left;
    display: table-cell;
    vertical-align: bottom;
    background:#fff;
  }

  .played {
    background-image: linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -o-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(248,49,14) 0%, rgb(248,152,56) 100%);

    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(248,49,14)),
      color-stop(1, rgb(248,152,56))
    );
  }

}
