---
title: Soundcloud Prototype
---

<div class="container">
	<header class="group">
		<div class="logo f-left"></div>
		<div class="nav f-right">Upload</div>
	</header>
</div>

<div class="player">
	<div class="container">
		<div class="player-info group">
			<div class="play-title group f-left">
				<div class="play-btn f-left">
					<div class="play-icon"></div>
				</div>
				<div class="title-author f-left">
					<h3>benoitandsergio</h3>
					<h1>Day Residue</h1>
				</div>
			</div>
			<div class="meta f-right">
				<span class="icon icon-play">136</span>
				<span class="icon icon-comment">18</span>
				<span class="duration">2.19 / 4.56</span>
			</div>
		</div>
		<div class="wave"></div>
	</div>
</div>

<div class="container comment-field">
	<img class="avatar-big f-left" src="/images/avatars/alex.jpg" />
	<form class="f-left">
		<input type="text" placeholder="Write a comment at 2.19">
	</form>
</div>

